{{ 'home-page.css' | asset_url | stylesheet_tag }}

<div class="home section-one">
  <header>
    <h1 class="title">Lorem ullamco</h1>
  </header>

  <div>
    <div class="container">
      <div class="image-container image-one">
        {{ 'image_1.png' | asset_url | img_tag }}
      </div>
      <div class="image-container image-two">
        {{ 'image_2.png' | asset_url | img_tag }}
      </div>
    </div>

    <div class="text-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Excepteur eiusmod consectetur proident Lorem
            reprehenderit esse do anim velit in aliquip dolore ut officia. Consectetur reprehenderit proident do exercitation eu.
            Sunt fugiat pariatur elit est laboris quis. Esse mollit incididunt quis amet. Qui non irure incididunt laborum nisi cillum
            consequat aliquip aliquip cillum in. Ut excepteur labore voluptate tempor cupidatat dolor eiusmod do ipsum Lorem
            cupidatat do labore.</p>
        <p>Proident dolore nisi eiusmod excepteur aliquip esse ut excepteur. Non excepteur sunt reprehenderit sit ex ullamco
            eiusmod Lorem incididunt nisi mollit nostrud. Irure velit enim elit minim commodo qui culpa cillum duis fugiat
            consequat pariatur.</p>
    </div>
  </div>
</div>
