{{ 'home-page.css' | asset_url | stylesheet_tag }}

<div class="section-2">
  <div class="grid-container">
    <div class="grid-item-first">
      <div class="grid-item image-first">
        {{ 'img_3.jpg' | asset_url | img_tag }}
      </div>
      <div class="content">
        <div class="grid-item text-content">
          <h1>Lorem ipsum</h1>
          <strong>Excepteur eiusmod consectetur</strong>
          <p>
            Proident dolore nisi eiusmod excepteur aliquip esse ut excepteur. Non excepteur sunt reprehenderit sit ex
            ullamco Lorem incididunt nisi mollit nostrud. Irure velit enim elit minim commodo qui culpa cillum duis
            fugiat consequat pariatur.
          </p>
          <strong>Quis aliqua reprehenderit</strong>
          <p>
            Proident dolore nisi eiusmod excepteur aliquip esse ut excepteur. Non excepteur sunt reprehenderit sit ex
            ullamco Lorem incididunt nisi mollit nostrud. Irure velit enim elit minim commodo qui culpa cillum duis
            fugiat consequat pariatur.
          </p>
          <strong>Ad sit cillum amet duis quis commodo</strong>
          <p>
            Proident dolore nisi eiusmod excepteur aliquip esse ut excepteur. Non excepteur sunt reprehenderit sit ex
            ullamco Lorem incididunt nisi mollit nostrud. Irure velit enim elit minim commodo qui culpa cillum duis
            fugiat consequat pariatur.
          </p>
        </div>
      </div>
    </div>

    <div class="grid-item-last">
      <div class="content">
        <div class="grid-item text-content">
          <h1>Mollit aliquip do ipsum consectetur</h1>
          <p>
            Ex laborum ea qui consectetur mollit commodo eiusmod culpa dolor cupidatat. Ullamco dolore irure ea sit elit velit non officia. Ad eu reprehenderit in et voluptate mollit. Reprehenderit incididunt magna consequat enim sit eiusmod est dolor laborum cupidatat.
          </p>
          <p>
            Ipsum minim mollit irure dolore. Sint fugiat deserunt dolor aute enim et cillum adipisicing cillum nostrud anim. Sit dolore incididunt dolore do sunt pariatur consectetur id qui pariatur eu incididunt adipisicing. Irure sint fugiat officia veniam consectetur. Esse laborum amet aliqua ad in sunt labore duis.
          </p>
        </div>
      </div>

      <div class="grid-item">
        {{ 'img_4.jpg' | asset_url | img_tag }}
      </div>
    </div>
  </div>
</div>
